body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/064/656/original/pexels-photo-277371.jpeg?1674832426);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Special Elite", cursive;
}
h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: rgb(234, 215, 171);
  opacity: 0.9;
  padding: 30px;

  border-radius: 10px;
  font-family: "Special Elite", cursive;
}

.city {
  display: flex;
  margin: 20px 0;
  padding: 30px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: white;
  font-size: 16px;
}

a {
  color: white;
}
