body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/064/656/original/pexels-photo-277371.jpeg?1674832426);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;

  margin-left: 60px;
  background: rgb(234, 215, 171);
  opacity: 0.9;
  padding: 60px;
  margin: auto;
  margin-top: 60px;
}

h1 {
  text-align: center;
}
footer {
  text-align: center;
  color: white;
}
